.panel
  .panel-body 
    h1 {{note.title}}
    h6 DATE
    h6.subheader {{moment(note.updated_at).format('MM.D.YY @ h:mm a')}}
    h6 TAGS
    #tags
      .tag(ng-repeat='tag in note.tags')
        a(ui-sref='notes.list({tag:tag})') {{tag}}
    h6 BODY
    blockquote {{note.body}}
    h6 PHOTOS
    ul.small-block-grid-3
      li(ng-repeat='url in note.urls')
        img.th(ng-src='{{url}}')
